.services {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em; }
  .services div {
    background: white;
    border: solid #eaeaf3 10px;
    padding: 1rem; }

.bg-blue {
  background: linear-gradient(-45deg, lightblue 0 50%, #d4ebf2 50% 100%); }

.bg-red {
  background: linear-gradient(-45deg, lightpink 0 50%, #ffe9ec 50% 100%); }

@media (min-width: 460px) {
  .services {
    grid-template-columns: 1fr 1fr; } }

.team .subtitle {
  color: #008dd6; }

.team ul li a {
  color: #008dd6;
  transition: .1s ease-in; }
  .team ul li a:hover {
    color: #008dd6;
    transform: translate3d(0, -5px, 0); }

header {
  align-items: center;
  padding: .5em; }

a:visited {
  color: #eef1f3; }

a:active {
  background-color: yellow;
  color: black; }

label {
  display: block;
  margin-bottom: 1rem; }

.fa-whatsapp-square {
  background-color: black;
  border-radius: 7px;
  color: #00cc9e;
  padding: 0 3px; }
  .fa-whatsapp-square:hover {
    color: white;
    background-color: #00cc9e; }

.social-icon {
  font-size: 3rem; }

.floating-button {
  bottom: 1rem;
  position: fixed;
  right: 1rem;
  z-index: 1000; }

section {
  background: #eef1f3; }

.section-title {
  color: #008dd6; }

.bg-green {
  background-color: #00cc9e; }

.btn-primary {
  background-color: blueviolet; }

.card {
  border-top: 4px solid #008dd6;
  border-left: none;
  border-right: none;
  border-bottom: none; }
  .card .card-title {
    color: #008dd6; }

.vector-logo {
  max-height: 5rem; }

#carouselExampleSlidesOnly .carousel-inner {
  height: 10rem; }

#carouselExampleSlidesOnly .carousel-item {
  max-height: 100%; }

.row-tablet {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hero {
  text-align: center;
  padding: 4rem 1rem;
  margin-top: 3.5rem;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, #74bee0 0%, #9ba8e9 25%, #c36be4 51%, #ff95bc 100%);
  animation: gradient-bg 10s ease infinite; }

@keyframes gradient-bg {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

footer {
  background-color: #2f363f;
  color: white; }
  footer a {
    color: white; }

.footer-menu {
  list-style-type: none;
  margin: 0 0 2rem;
  padding: 0; }

.button {
  background-color: #00cc9e;
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: background-color .3s, color .3s; }
  .button:hover {
    background-color: orange;
    color: black; }

@media (min-width: 768px) {
  .row-tablet {
    flex-direction: row; } }
