$green: #00cc9e;
@import "./variables/mixin";
@import "./sections/services";
header {
    align-items: center;
    padding: .5em;
}

section {
    background: rgba(255, 255, 255, .6);
    .sectionTitle {
        color: #008dd6;
    }
}

.bg-green {
    background-color: $green;
}

.card {
    border-top: 4px solid #008dd6;
    border-left: none;
    border-right: none;
    border-bottom: none;
    .card-title {
        color: #008dd6;
    }
}

.containerSection {
    background-color: #eef1f3;
}

.row-tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero {
    text-align: center;
    padding: 4rem 1rem;
    margin-top: 3.5rem;
    background-size: 300% 300%;
    background-image: linear-gradient( -45deg, rgb(116, 190, 224) 0%, rgb(155, 168, 233) 25%, rgb(195, 107, 228) 51%, rgb(255, 149, 188) 100%);
    animation: gradient-bg 10s ease infinite;
}

@keyframes gradient-bg {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.logo {
    display: flex;
    align-items: stretch;
}

footer {
    align-items: bottom;
    background-color: #2f363f;
    color: white;
    padding: 1rem;
    bottom: 0px;
    a {
        color: rgb(255, 255, 255)
    }
}

.footer-menu {
    list-style-type: none;
    margin: 0 0 2rem;
    padding: 0;
}

.button {
    background-color: $green;
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: background-color .3s, color .3s;
    &:hover {
        background-color: orange;
        color: black;
    }
}

label {
    display: block;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .row-tablet {
        flex-direction: row;
    }
}