$green: #00cc9e;
$blue: #008dd6;
$darkgrey: #2f363f;
$lightgrey: rgb(238, 241, 243);
@import "./variables/mixin";
@import "./sections/services";
@import "./sections/team";
header {
    align-items: center;
    padding: .5em;
}

a {
    &:visited {
        color: $lightgrey;
    }
    &:active {
        background-color: yellow;
        color: black;
    }
}

label {
    display: block;
    margin-bottom: 1rem;
}

.fa-whatsapp-square {
    background-color: black;
    border-radius: 7px;
    color: $green;
    padding: 0 3px;
    &:hover {
        color: white;
        background-color: $green;
    }
}

.social-icon {
    font-size: 3rem;
}

.floating-button {
    bottom: 1rem;
    position: fixed;
    right: 1rem;
    z-index: 1000;
}

section {
    background: $lightgrey;
}

.section-title {
    color: $blue;
}

.bg-green {
    background-color: $green;
}

.btn-primary {
    background-color: blueviolet;
}

.card {
    border-top: 4px solid $blue;
    border-left: none;
    border-right: none;
    border-bottom: none;
    .card-title {
        color: $blue;
    }
}

.vector-logo {
    max-height: 5rem;
}

#carouselExampleSlidesOnly {
    .carousel-inner {
        height: 10rem;
    }
    .carousel-item {
        max-height: 100%;
    }
}

.row-tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero {
    text-align: center;
    padding: 4rem 1rem;
    margin-top: 3.5rem;
    background-size: 300% 300%;
    background-image: linear-gradient( -45deg, rgb(116, 190, 224) 0%, rgb(155, 168, 233) 25%, rgb(195, 107, 228) 51%, rgb(255, 149, 188) 100%);
    animation: gradient-bg 10s ease infinite;
}

@keyframes gradient-bg {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

footer {
    background-color: $darkgrey;
    color: white;
    a {
        color: white
    }
}

.footer-menu {
    list-style-type: none;
    margin: 0 0 2rem;
    padding: 0;
}

.button {
    background-color: $green;
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: background-color .3s, color .3s;
    &:hover {
        background-color: orange;
        color: black;
    }
}

@media (min-width: 768px) {
    .row-tablet {
        flex-direction: row;
    }
}