.services {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    div {
        background: white;
        border: solid rgb(234, 234, 243) 10px;
        padding: 1rem;
    }
}

.bg-blue {
    @include fondo(lightblue);
}

.bg-red {
    @include fondo(lightpink);
}

@media (min-width: 460px) {
    .services {
        grid-template-columns: 1fr 1fr;
    }
}